NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_ADMIN_EMAILS=

NEXT_PUBLIC_PULSE_PLAYERS=[]

NEXT_PUBLIC_PULSOID_CLIENT_ID=
NEXT_PUBLIC_PULSOID_REDIRECT_URI=
NEXT_PUBLIC_PULSOID_SCOPES=data:heart_rate:read
NEXT_PUBLIC_PULSOID_HEART_RATE_ENDPOINT=
NEXT_PUBLIC_PULSOID_PLAYER_ID=merlin-pulse
NEXT_PUBLIC_PULSOID_PLAYER_NAME=Merlin
NEXT_PUBLIC_PULSOID_VALUE_PATH=
